/* Body */
    body {
        background-color: #EFB4A0;
        font-size: large;
        font-family: 'Raleway', 'Urbanist', 'Comfortaa', Verdana, Tahoma, sans-serif;
        text-align: center;
        padding: 20px;
    }
/* Headings */
    h1 {
        font-family: 'Rampart One', Georgia, Times, serif;
        border: 6px solid royalblue;
        padding: 20px;
    }
    h2 {
        font-family: 'Rubik Moonrocks', 'Luckiest Guy', Georgia, Times, serif;
        padding-top: 20px;
    }
    h3 {
        font-family: 'Megrim', 'Raleway Dots', Georgia, Times, serif;
        padding-top: 5px;
    }
    h4 {
        font-family: 'Domine', 'Arvo', Georgia, Times, serif;
    }
    .listHead {text-align: left;}
/* Text */
    p {
        background-color: #F2C3B3;
        padding: 10px;
    }
    pre {
        background-color: #9FC69F;
        font-family: 'Indie Flower', cursive;
        padding: 10px;
    }

    article, aside {
        background-color: #F9E1D9;
        padding: 10px;
    }
    article {font-family: serif;}
    aside {
        font-family: monospace;
        float: right;
        padding-left: 15px;
        margin-left: 15px;
        width: 30%;
      }
/* Lists */
    ul, ol, dl {text-align: left;}
    li, dt, dd {text-align: left;}
/* Links */
    a:link {
        color: #3CB371;
        background-color: transparent;
        font-weight: bold;
    } 
    a:hover {
        color: #228B22;
        background-color: transparent;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }  
    a:active {
        color: #3CB371;
        background-color: #2F4F4F;
        font-style: italic;
    }
    a:visited {
        color: #2E8B57; 
        background-color: transparent;
    }
/* Tables */
    table {border-style: inset;}
    th, td {
        border: 1px solid #ECA58D;
        border-radius: 10px;
        border-style: outset;
        background-color: #9FC69F;
    }
    td:hover{background-color: #9Ff69F;}
/* Flexbox */
    .projGallery {
        border-style: solid;
            border-width: 4px;
            border-radius: 12px;
        
        border-color: #E9967A;
        background-color: #F2C3B3;

        padding: 5px;
        margin: 5px;

        display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: stretch;
            align-content: space-around;
    }
    .projCard {
        border-style: solid;
            border-width: 4px;
            border-radius: 12px;
            
        border-color: #ECA58D;
        background-color: #F6D2C6;

        padding: 5px;
        margin: 5px;

        flex: 1 1 400px;
            max-width: 500px;
            /*min-width: 25%;*/
    }
    .projImage {
        padding: 5px;

        float: right;

        max-height: 70%;
        max-width: 40%;
    }
/* Font Ideas
    Notes Font: 
        'Nanum Pen Script', 'Schoolbell', 'Yuji Boku', 'Dokdo'
    Mono Font:
        'Syne Mono', monospace
*/
/* Color Swatches
    Dark Salmon-White
        #E9967A border gallery
        #ECA58D border card
        #EFB4A0 body
        #F2C3B3 background (p gallery)
        #F6D2C6 card
        #F9E1D9 article
        #FCF0EC
        #FFFFFF White
*/