/* Body */
    body {
        background-color: #ECA58D;
        font-size: large;
        font-family: 'Raleway', 'Urbanist', 'Comfortaa', Verdana, Tahoma, sans-serif;
        text-align: center;
        padding: 20px;
    }

/* Headings */
    h1 {
        font-family: 'Rampart One', Georgia, Times, serif;
        border: 6px solid royalblue;
        padding: 20px;
    }
    h2 {
        font-family: 'Rubik Moonrocks', 'Luckiest Guy', Georgia, Times, serif;
        padding-top: 20px;
    }
    h3 {
        font-family: 'Megrim', 'Raleway Dots', Georgia, Times, serif;
        padding-top: 5px;
    }
    h4 {
        font-family: 'Domine', 'Arvo', Georgia, Times, serif;
    }

    .listHead {text-align: left;}

/* Text */
    p {
        background-color: #F2C3B3;
        padding: 10px;
    }
    pre {
        background-color: #9FC69F;
        font-family: 'Indie Flower', cursive;
        padding: 10px;
    }

    article, aside {
        background-color: #F9E1D9;
        padding: 10px;
    }
    article {font-family: serif;}
    aside {
        font-family: monospace;
        float: right;
        padding-left: 15px;
        margin-left: 15px;
        width: 30%;
      }

/* Lists */
    ul, ol, dl {text-align: left;}
    li, dt, dd {text-align: left;}

/* Links */
    a:link {
        color: #3CB371;
        background-color: transparent;
        font-weight: bold;
    } 
    a:hover {
        color: #228B22;
        background-color: transparent;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }  
    a:active {
        color: #3CB371;
        background-color: #2F4F4F;
        font-style: italic;
    }
    a:visited {
        color: #2E8B57; 
        background-color: transparent;
    }

/* Tables */
    table {border-style: inset;}
    th, td {
        border: 1px solid #ECA58D;
        border-radius: 10px;
        border-style: outset;
        background-color: #9FC69F;
    }
    tr:hover{background-color: #9Ff69F;}

/* Font Ideas
    Notes Font: 
        'Nanum Pen Script', 'Schoolbell', 'Yuji Boku', 'Dokdo'
    Mono Font:
        'Syne Mono', monospace
*/
/* Color Swatches
    Dark Salmon-White
        #E9967A Dark Salmon
        #ECA58D body
        #EFB4A0
        #F2C3B3 p
        #F6D2C6 
        #F9E1D9 article
        #FCF0EC
        #FFFFFF White
*/